<input type="text" [(ngModel)]="title">
{{ title }}

<app-product></app-product>

<div *ngIf="title === 'aaa'">
  this is aaa
</div>

<div *ngIf="title === 'bbb'">
  this is bbb
</div>

<div *ngIf="title === 'ccc'">
  this is ccc
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'aaa'">this is aaa</p>
  <p *ngSwitchCase="'bbb'">this is bbb</p>
  <p *ngSwitchCase="'ccc'">this is ccc</p>
  <p *ngSwitchDefault>no match</p>
</div>
<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">Empty list</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>